:root{
    --menu-color:#181818;
    --content-color:#242424;
    --play-color:#404040;
}
.main{
width:100%;
height:100vh;
background-color:red;
}
.menu{
    background-color: var(--menu-color);
    width:250px;
    height:calc(100vh - 100px);
    float:left;
}
.content{
    background-color: var(--content-color);
    width:calc(100% - 250px);
    height:calc(100vh - 100px);
    float:left;
    padding-top:150px;
}
.play{
    background-color: var(--play-color);
    width:100%;
    height:100px;
    float:left;
}
.menu_item{
color:#F0F0F0;
margin-bottom:10px;
margin-top:10px;
width:80%;
margin:auto;
height:30px;
line-height:30px;
}
#menu_item:hover{
    cursor:pointer;
    background-color:grey;
    font-weight:bold;
    transition:0.2s;
}
.music_data_holder{
    width:250px;
    height:100%;
    border:1px solid white;
    padding:10px;
    float:left;
}
#music_img{
    height:80px;
    width:80px;
    float:left;
    background-image:url("borito.jpg");
    background-size:cover;
    background-position:center;
    margin-right:10px;
}
#actual_title{
 font-size:20px;
 color:white;
 line-height:20px;
}
#actual_author{
    color: rgb(179,179,179);
    margin-top: 5px;
}
.controller_holder{
    width:calc(100% - 250px);
    height:50%;
    float:left;
}
.controller{
    width:130px;
    height:100%;
    margin:auto;
}
.controller img{
    width:30px;
    float:left;
    margin:0px;
    filter:invert(0.8);
}
.controller img:hover{
    filter: invert(1);
    cursor:pointer;
}
#play_pause{
    width:35px;
    padding:7px;
}
.time-line{
    width:500px;
    height:20px;
    border:1px solid white;
}
.inner-line{
    width:50%;
    height: 100%;
    background-color: greenyellow;
}
.my_card{
width: calc(100%/3);
min-height:300px;
float:left;
padding:20px;
padding-top:0px;
cursor:pointer;
}
.my_card img{
width: 80%;
margin-left:10%;
}
.my_card h2{
color:white;
font-size:1.5em;
}
.my_card h3{
color:gray;
font-size:1em;
}
.carousel-inner{
    width:80%;
    margin-left:10%;
}